absl-py==0.7.1
alabaster==0.7.12
altgraph==0.16.1
appdirs==1.4.3
arch==4.15
argcomplete==1.9.4
argh==0.26.2
ariba==2.14.1
asciitree==0.3.3
asteval==0.9.15
astor==0.8.0
astropy==4.0
atomicwrites==1.2.1
attrs==18.2.0
awscli==1.18.110
Babel==2.6.0
backcall==0.1.0
bcbio-gff==0.6.6
bcrypt==3.1.7
beautifulsoup4==4.7.1
biogeme==3.2.3
biopython==1.73
bleach==3.0.2
blessings==1.7
boto==2.49.0
boto3==1.12.39
botocore==1.17.33
BUSCO==4.0.6
bx-python==0.8.6
bz2file==0.98
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2018.11.29
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
cobra==0.17.1
colorama==0.4.1
coloredlogs==10.0
colormath==3.0.0
configobj==5.0.6
cooler==0.8.5
corels==1.1.7
crcmod==1.7
CrossMap==0.3.3
cryptography==2.8
cssselect2==0.2.2
cupcake==8.6
cvxopt==1.2.4
cycler==0.10.0
Cython @ file:///usr/local/src/PYTHON/MODULES/Cython-0.29.21
cytoolz==0.10.1
dask==1.0.0
decorator==4.3.0
deepTools==3.4.3
deeptoolsintervals==0.1.9
defusedxml==0.5.0
DendroPy==4.4.0
depinfo==1.5.3
dill==0.3.1.1
dipy==0.15.0
dlib==19.16.0
dnest4==0.2.3
docutils==0.14
dominate==2.4.0
easydict==1.9
emcee==2.2.1
entrypoints==0.2.3
ete3==3.1.1
fabric==2.5.0
face-alignment==1.0.0
fenics-dijitso==2018.1.0
fenics-ffc==2018.1.0
fenics-fiat==2018.1.0
fenics-ufl==2018.1.0
filelock==3.0.12
Flask==1.1.1
Flask-WTF==0.14.3
flye==2.7b0
future==0.17.1
galpy==1.5
gast==0.2.2
gdown==3.12.2
GenomeTools==1.5.9
gensim==3.8.2
gff3toembl==1.1.4
gffutils==0.9
Glances==3.1.3
glob3==0.0.1
google-pasta==0.2.0
gpustat==0.6.0
grapetree==1.6
graphviz==0.10.1
grpcio==1.28.1
gunicorn==20.0.4
gurobipy==9.0.2
h5py==2.9.0
hdbscan==0.8.26
healpy==1.13.0
HiCMatrix==11
horovod==0.16.4
HTSeq==0.11.2
humanfriendly==4.18
idna==2.8
imageio==2.4.1
imagesize==1.1.0
intervaltree==3.0.2
invoke==1.3.0
ipdb==0.13.3
ipykernel==5.1.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kerneltree==0.0.5
kiwisolver==1.0.1
knack==0.6.3
lightgbm==2.3.1
llvmlite==0.33.0
lmdb==0.98
lmfit==0.9.13
lxml==4.5.0
lzstring==1.0.4
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.1.1
meshio==3.1.5
meshplex==0.11.6
metakernel==0.27.0
metric-learn==0.6.2
misopy==0.5.4
mistune==0.8.4
mitywgs==0.1.3
mock==3.0.5
monty==2.0.4
more-itertools==5.0.0
moviepy==0.2.3.5
mpi4py==3.0.2
mpmath==1.1.0
multiprocess==0.70.9
multiqc==1.8.dev0
mxnet==1.4.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nibabel==2.4.0
ninja==1.9.0.post1
nose==1.3.7
nose-parameterized==0.6.0
notebook==5.7.4
numba==0.50.1
numexpr==2.7.0
numpy==1.19.1
numpydoc==0.8.0
nvidia-ml-py3==7.352.0
oct2py==5.2.0
octave-kernel==0.32.0
opencv-python==4.0.0.21
optlang==1.4.4
osfclient==0.0.3
packaging==19.0
palettable==3.2.0
pandas==1.1.0
pandas-datareader==0.9.0
pandocfilters==1.4.2
pangolin==0.1.0
paramiko==2.6.0
parso==0.3.1
patsy==0.5.1
pdfkit==0.6.1
pept==0.2.2
pexpect==4.6.0
phylo-treetime==0.7.0
pickleshare==0.7.5
Pillow==5.3.0
pipdeptree==0.13.2
plotly==4.9.0
pluggy==0.8.0
poppunk==1.1.6
prettytable==0.7.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
property-cached==1.6.4
protobuf==3.7.0
psutil==5.5.1
ptyprocess==0.6.0
PuLP==1.6.10
py==1.7.0
py2bit==0.3.0
pyasn1==0.4.8
pybedtools==0.8.0
pyBigWig==0.3.13
pybind11==2.4.3
pycocotools==2.0
pycparser==2.19
PyDispatcher==2.0.5
pyface==6.0.0
pyfaidx==0.5.5.2
pyfasta==0.5.2
pyfastaq==3.17.0
pyfastx==0.6.10
pyGenomeTracks==3.1.2
Pygments==2.3.1
PyInstaller==3.5
pykdtree==1.3.1
pymatgen==2019.7.2
pymummer==0.10.3
PyNaCl==1.3.0
pypairix==0.3.7
pyparsing==2.3.0
pysam==0.15.2
PySocks==1.7.1
pytest==4.0.2
python-dateutil==2.7.5
python-libsbml-experimental==5.18.0
pytools==2020.1
pytz==2018.7
PyVCF==0.6.8
PyWavelets==1.0.1
PyYAML==5.1.2
pyzmq==17.1.2
qtconsole==4.4.3
regex==2020.4.4
requests==2.21.0
retrying==1.3.3
rsa==3.4.2
ruamel.std.argparse==0.8.1
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
ruamel.yaml.cmd==0.5.5
ruamel.yaml.convert==0.3.2
s3transfer==0.3.3
scikit-allel==1.2.0
scikit-image==0.14.2
scikit-learn==0.23.dev0
scipy==1.5.2
scoary==1.6.16
scons==3.0.5
seaborn==0.9.0
Send2Trash==1.5.0
sharedmem==0.3.6
SimpleITK==1.2.0
simplejson==3.16.0
six==1.15.0
sklearn==0.0
smart-open==1.11.1
snowballstemmer==1.2.1
snpit==1.0.0
sortedcontainers==2.1.0
soupsieve==1.9.2
spectra==0.0.11
spglib==1.13.0.post6
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
statistics==1.0.3.5
statsmodels==0.11.1
SUPPA==2.3
swiglpk==4.65.1
sympy==1.3
tables==3.6.1
tabulate==0.8.3
tensorboard==1.14.0
tensorboardX==1.6
tensorflow @ file:///usr/local/tensorflow/v100/cuda10/tensorflow-1.14.1-cp37-cp37m-linux_x86_64.whl
tensorflow-estimator==1.14.0
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
texttable==1.6.1
threadpoolctl==2.1.0
tinycss2==1.0.2
toolz==0.9.0
torch==1.1.0a0+cb66759
torchdiffeq==0.0.1
tornado==5.1.1
tqdm==4.48.0
TractSeg==2.0
traitlets==4.3.2
traits==4.6.0
traitsui==6.0.0
TreeTime==2018.10
ujson==1.35
umap-learn==0.4.6
umi-tools==1.0.1
uncertainties==3.1.2
Unidecode==1.0.23
urllib3==1.24.1
virtualenv==16.2.0
vmdpy==0.1
waitress==1.4.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
wget==3.2
widgetsnbextension==3.4.2
wrapt==1.12.1
WTForms==2.3.1
xlrd==1.2.0
XlsxWriter==1.2.8
youtube-dl==2019.1.30.1
